Repository NTUEELightDance/LightDance-RPi, pull requests merged in 2023-03, with the labels that each got.

#168 RPi-#167. Fix player init procedure
  controller_2023/controller/inc/LEDPlayer.h
  controller_2023/controller/inc/player.h
  controller_2023/controller/src/commands/player.cpp
  controller_2023/controller/src/player/LEDPlayer.cpp
  controller_2023/controller/src/player/playLoop.cpp
Labels: play loop

#165 RPi-#164. Add python version of websocket client
  2023/socket/client.py
  2023/socket/ntpclient.py
Labels: socket

#171 RPi-#166 fix OFPlayer
  controller_2023/CMakeLists.txt
  controller_2023/controller/CMakeLists.txt
  controller_2023/controller/data/OF.json
  controller_2023/controller/data/testName.json
  controller_2023/controller/inc/OFPlayer.h
  controller_2023/controller/src/commands/player.cpp
  controller_2023/controller/src/player/OFPlayer.cpp
Labels: play loop

#173 RPi-#172. Implementation of LEDTest, OFTest, and FrameTest
  controller_2023/controller/Makefile
  controller_2023/controller/inc/LEDPlayer.h
  controller_2023/controller/inc/OFPlayer.h
  controller_2023/controller/src/commands/FrameTest.cpp
  controller_2023/controller/src/commands/LEDTest.cpp
  controller_2023/controller/src/commands/OFTest.cpp
  controller_2023/controller/src/commands/player.cpp
Labels: command

#174 RPi-#169. Fix play loop termination failure
  controller_2023/controller/inc/LEDPlayer.h
  controller_2023/controller/src/player/LEDPlayer.cpp
  controller_2023/controller/src/player/OFPlayer.cpp
  controller_2023/controller/src/player/playLoop.cpp
Labels: play loop

#175 RPi-#169. Integrate Player and debug commands
  controller_2023/controller/CMakeLists.txt
  controller_2023/controller/Makefile
  controller_2023/controller/data/LED.json
  controller_2023/controller/data/OF.json
  controller_2023/controller/data/testName.json
  controller_2023/controller/inc/LEDPlayer.h
  controller_2023/controller/inc/OFPlayer.h
  controller_2023/controller/src/commands/LEDTest.cpp
  controller_2023/controller/src/commands/OFTest.cpp
  controller_2023/controller/src/commands/player.cpp
  controller_2023/controller/src/player/LEDPlayer.cpp
  controller_2023/controller/src/player/OFPlayer.cpp
  controller_2023/controller/src/player/playLoop.cpp
  controller_2023/hardware/inc/LEDController.h
  controller_2023/hardware/src/LEDController.cpp
  controller_2023/hardware_RPi/CMakeLists.txt
  controller_2023/hardware_RPi/Makefile
  controller_2023/hardware_RPi/inc/LEDController.h
  controller_2023/hardware_RPi/inc/LEDController_umb.h
  controller_2023/hardware_RPi/inc/OFController.h
  controller_2023/hardware_RPi/inc/OFController_umb.h
  controller_2023/hardware_RPi/inc/clk.h
  controller_2023/hardware_RPi/inc/dma.h
  controller_2023/hardware_RPi/inc/gpio.h
  controller_2023/hardware_RPi/inc/mailbox.h
  controller_2023/hardware_RPi/inc/pcm.h
  controller_2023/hardware_RPi/inc/pwm.h
  controller_2023/hardware_RPi/inc/rpihw.h
  controller_2023/hardware_RPi/inc/ws2811.h
  controller_2023/hardware_RPi/src/LEDController.cpp
  controller_2023/hardware_RPi/src/LEDController_umb.cpp
  controller_2023/hardware_RPi/src/LEDmain.cpp
  controller_2023/hardware_RPi/src/LEDmain_umb.cpp
  controller_2023/hardware_RPi/src/OFController.cpp
  controller_2023/hardware_RPi/src/OFController_umb.cpp
  controller_2023/hardware_RPi/src/OFmain.cpp
  controller_2023/hardware_RPi/src/OFmain_umb.cpp
  controller_2023/hardware_RPi/src/main.cpp
  controller_2023/hardware_RPi/src/main_umb.cpp
  controller_2023/hardware_RPi/src/testall.cpp
  controller_2023/hardware_RPi/src/testcode.cpp
Labels: command

#184 RPi-#183. Change Load file to auto load 3 files
  controller/software/src/commands/load.cpp
Labels: command

#182 RPi-#181. Modify handshakes to MAC address
  ws_client/client.py
Labels: socket

#188 RPi-#187. Fix playloop can't delay
  controller/software/inc/command.h
  controller/software/src/commands/playerctl.cpp
  controller/software/src/player/playLoop.cpp
Labels: play loop

#192 RPi-#191 Modify protocols to control-server
  ws_client/client.py
Labels: socket

#203 RPi-#202. Add README for ws-client
  ws_client/Readme.md
Labels: documentation

#200 RPi-#199. Add a broadcast server
  ws_client/broadcast_server.py
  ws_client/websocket_server/__init__.py
  ws_client/websocket_server/thread.py
  ws_client/websocket_server/websocket_server.py
Labels: socket

#180 RPi-#179. Support light all as default in LEDTest and OFTest
  controller/software/Makefile
  controller/software/inc/LEDPlayer.h
  controller/software/inc/OFPlayer.h
  controller/software/src/commands/FrameTest.cpp
  controller/software/src/commands/LEDTest.cpp
  controller/software/src/commands/OFTest.cpp
  controller/software/src/commands/player.cpp
Labels: command

#206 RPi-#205. Implement parttest and r, g, b, rg, rb, bg
  controller/software/CMakeLists.txt
  controller/software/inc/const.h
  controller/software/src/commands/load.cpp
  controller/software/src/commands/partTest.cpp
  scripts/set-alias
Labels: command

#212 RPi-#211. Hold current status for part test
  controller/software/inc/LEDPlayer.h
  controller/software/inc/OFPlayer.h
  controller/software/src/commands/list.cpp
  controller/software/src/commands/partTest.cpp
  controller/software/src/commands/player.cpp
  controller/software/src/player/LEDPlayer.cpp
  controller/software/src/player/OFPlayer.cpp
Labels: command

#214 RPi-210. Modify new protocol with control server
  ws_client/Readme.md
  ws_client/client.py
  ws_client/ntpclient.py
Labels: socket

#208 RPi-#207. Implement color palette
  controller/software/CMakeLists.txt
  controller/software/data/LED.json
  controller/software/data/OF.json
  controller/software/data/testName.json
  controller/software/src/commands/load.cpp
  controller/software/src/commands/partTest.cpp
  data/LED.json
  data/OF.json
  data/color_palette.py
  data/control.json
  data/control_agent.json
  data/gen_json.py
Labels: command

#216 RPi-#215. Fix the frame calculation of LEDPlayer
  .gitignore
  controller/software/CMakeLists.txt
  controller/software/src/commands/partTest.cpp
  controller/software/src/player/LEDPlayer.cpp
  controller/software/src/player/OFPlayer.cpp
  controller/software/src/player/playLoop.cpp
  scripts/set-alias
  ws_client/client.py
  ws_client/config.py
Labels: play loop

#222 RPi-#221. Add file lock, log and end player
  controller/CMakeLists.txt
  controller/software/CMakeLists.txt
  controller/software/inc/LEDPlayer.h
  controller/software/inc/OFPlayer.h
  controller/software/inc/utils.h
  controller/software/src/commands/partTest.cpp
  controller/software/src/player/LEDPlayer.cpp
  controller/software/src/player/OFPlayer.cpp
  controller/software/src/player/playLoop.cpp
  data/gen_json.py
  scripts/build
  scripts/close
  scripts/restart
Labels: enhancement, command, play loop

#224 RPi-#223 add a*10 and update script
  controller/software/src/player/LEDPlayer.cpp
  controller/software/src/player/OFPlayer.cpp
  controller/software/src/player/playLoop.cpp
  scripts/build
Labels: enhancement, play loop

#229 RPi-#228 fix last frame fade
  controller/software/src/player/LEDPlayer.cpp
  controller/software/src/player/OFPlayer.cpp
Labels: bug, play loop

#220 RPi-#219. LEDplayer / OFplayer bug fix in frame searching
  controller/software/src/player/LEDPlayer.cpp
  controller/software/src/player/OFPlayer.cpp
Labels: bug, play loop

#231 RPi-#230. Player can't stop
  controller/software/inc/LEDPlayer.h
  controller/software/inc/OFPlayer.h
  controller/software/src/player/LEDPlayer.cpp
  controller/software/src/player/OFPlayer.cpp
  controller/software/src/player/playLoop.cpp
Labels: bug, play loop

#233 RPi-#232. Improve log for socket client and support shell commands
  ws_client/client.py
  ws_client/requirements.txt
  ws_client/server.py
Labels: enhancement, socket

#239 RPi-#238. OF delay, no parts fail
  controller/software/src/player/OFPlayer.cpp
Labels: bug, enhancement, play loop

#241 fix<=0
  controller/software/src/player/OFPlayer.cpp
Labels: bug, play loop
