Repository NTUEELightDance/LightDance-RPi, pull requests merged in 2023-02, with the labels that each got.

#117 RPi-#115. Add cmd/setup load, and list
  .gitignore
  2023/commands/setup/Austin.json
  2023/commands/setup/Ken.json
  2023/commands/setup/Makefile
  2023/commands/setup/README.md
  2023/commands/setup/list.cpp
  2023/commands/setup/load.cpp
  2023/commands/setup/nlohmann/json.hpp
  2023/commands/setup/player.cpp
  2023/commands/setup/player.h
Labels: command

#134 RPi-#134. Add first version of socket
  2023/socket/Makefile
  2023/socket/client.cpp
  2023/socket/nlohmann/json.hpp
  2023/socket/test_server.py
Labels: socket

#144 RPi-#141. add test hardware library for play loop
  2023/player/hardware/LEDController.cpp
  2023/player/hardware/LEDController.h
  2023/player/hardware/OFController.cpp
  2023/player/hardware/OFController.h
Labels: play loop

#151 RPi-#148 fix some error
  2023/commands/setup/test_ofplayer/OFPlayer.cpp
  2023/commands/setup/test_ofplayer/OFPlayer.h
  2023/commands/setup/test_ofplayer/save.cpp
Labels: play loop

#147 RPi-#146. Add commands/boardInfo
  2023/cmd/system/boardInfo.cpp
  2023/cmd/system/flags.h
  2023/commands/setup/boardInfo.h
  2023/commands/setup/player.cpp
  2023/commands/setup/player.h
Labels: command

#136 RPi-#119. Add LEDtest and OFtest
  2023/cmd/system/LEDtest.cpp
  2023/cmd/system/OFtest.cpp
Labels: command

#138 RPi-#137. Add loading LED, OF feature
  2023/commands/setup/.gitignore
  2023/commands/setup/Austin.json
  2023/commands/setup/LEDPlayer.cpp
  2023/commands/setup/LEDPlayer.h
  2023/commands/setup/Makefile
  2023/commands/setup/OFPlayer.cpp
  2023/commands/setup/OFPlayer.h
  2023/commands/setup/list.cpp
  2023/commands/setup/load.cpp
  2023/commands/setup/player.cpp
  2023/commands/setup/player.h
  2023/commands/setup/test_ledplayer/Austin.json
  2023/commands/setup/test_ledplayer/LEDPlayer.cpp
  2023/commands/setup/test_ledplayer/LEDPlayer.h
  2023/commands/setup/test_ofplayer/Austin.json
Labels: command

#150 RPi-#149. Sync LEDPlayer of command and player
  2023/commands/setup/LEDPlayer.cpp
  2023/commands/setup/LEDPlayer.h
  2023/commands/setup/test_ledplayer/LEDPlayer.cpp
  2023/commands/setup/test_ledplayer/LEDPlayer.h
  2023/player/LEDPlayer.cpp
  2023/player/LEDPlayer.h
  2023/player/test_led/LEDPlayer.cpp
  2023/player/test_led/LEDPlayer.h
  2023/player/test_led/Makefile
  2023/player/test_led/hardware/LEDController.cpp
  2023/player/test_led/hardware/LEDController.h
  2023/player/test_led/hardware/OFController.cpp
  2023/player/test_led/hardware/OFController.h
  2023/player/test_led/playLoop.cpp
Labels: play loop

#139 RPi-#127. Add controller related cmd
  2023/cmd/system/stmInit.cpp
  2023/commands/play/Makefile
  2023/commands/play/command.h
  2023/commands/play/main.cpp
  2023/commands/play/pause.cpp
  2023/commands/play/play.cpp
  2023/commands/play/quit.cpp
  2023/commands/play/readtest.cpp
  2023/commands/play/restart.cpp
  2023/commands/play/stop.cpp
Labels: command

#153 RPi-#152. Refractor the file structure
  controller_2023/Makefile
  controller_2023/data/OF.json
  controller_2023/data/testName.json
  controller_2023/hardware/Makefile
  controller_2023/hardware/inc/LEDController.h
  controller_2023/hardware/inc/OFController.h
  controller_2023/hardware/src/LEDController.cpp
  controller_2023/hardware/src/OFController.cpp
  controller_2023/inc/LEDPlayer.h
  controller_2023/inc/OFPlayer.h
  controller_2023/inc/command.h
  controller_2023/inc/nlohmann/json.hpp
  controller_2023/inc/player.h
  controller_2023/src/commands/LEDTest.cpp
  controller_2023/src/commands/OFTest.cpp
  controller_2023/src/commands/boardinfo.cpp
  controller_2023/src/commands/list.cpp
  controller_2023/src/commands/load.cpp
  controller_2023/src/commands/player.cpp
  controller_2023/src/commands/playerctl.cpp
  controller_2023/src/player/LEDPlayer.cpp
  controller_2023/src/player/OFPlayer.cpp
  controller_2023/src/player/playLoop.cpp
  controller_2023/src/socket/client.cpp
  controller_2023/src/socket/test_server.py
Labels: enhancement

#156 RPi-#155. Use CMake for controller building
  controller_2023/.gitignore
  controller_2023/CMakeLists.txt
  controller_2023/controller/CMakeLists.txt
  controller_2023/controller/Makefile
  controller_2023/controller/data/OF.json
  controller_2023/controller/data/testName.json
  controller_2023/controller/inc/LEDPlayer.h
  controller_2023/controller/inc/OFPlayer.h
  controller_2023/controller/inc/command.h
  controller_2023/controller/inc/nlohmann/json.hpp
  controller_2023/controller/inc/player.h
  controller_2023/controller/src/commands/LEDTest.cpp
  controller_2023/controller/src/commands/OFTest.cpp
  controller_2023/controller/src/commands/boardinfo.cpp
  controller_2023/controller/src/commands/list.cpp
  controller_2023/controller/src/commands/load.cpp
  controller_2023/controller/src/commands/player.cpp
  controller_2023/controller/src/commands/playerctl.cpp
  controller_2023/controller/src/player/LEDPlayer.cpp
  controller_2023/controller/src/player/OFPlayer.cpp
  controller_2023/controller/src/player/playLoop.cpp
  controller_2023/controller/src/socket/client.cpp
  controller_2023/controller/src/socket/test_server.py
  controller_2023/hardware/CMakeLists.txt
Labels: enhancement

#143 RPi-#142. update playLoop file
  2023/player/fifo
  2023/player/playLoop.cpp
  2023/player/read.cpp
  2023/player/tmp/cmd
  2023/player/tmp/report
  2023/player/write.cpp
Labels: play loop

#159 RPi-#158 add darkall
  2023/commands/setup/OFPlayer.cpp
  2023/commands/setup/OFPlayer.h
  controller_2023/controller/inc/OFPlayer.h
  controller_2023/controller/src/player/OFPlayer.cpp
Labels: play loop
