Repository NTUEELightDance/LightDance-RPi, pull requests merged in 2023-01, with the labels that each got.

#126 RPi-#125. Create basic command class
  2023/cmd/system/command.h
  2023/cmd/system/play.cpp
Labels: command

#116 RPi-#114. Add 2023 README
  README.md
  README_2022.md
Labels: documentation

#120 RPi-#118. Add LEDPlayer
  2023/player/.gitignore
  2023/player/LEDPlayer.cpp
  2023/player/LEDPlayer.h
  2023/player/Makefile
  2023/player/nlohmann/json.hpp
  2023/player/test_led/.gitignore
  2023/player/test_led/10_dontstop.json
  2023/player/test_led/LED.json
  2023/player/test_led/LEDPlayer.cpp
  2023/player/test_led/LEDPlayer.h
  2023/player/test_led/Makefile
  2023/player/test_led/nlohmann/json.hpp
  2023/player/test_led/playLoop.cpp
Labels: play loop
